/* Global selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1917; /* Colors from Tailwind Colors CSS */
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px 64px;
}

.hidden {
  display: none !important; /* Used for hidding the Form */
}

.message {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  margin-top: 24px;
}

/* Main Layout */
#root {
  max-width: 1500px; /* Helps when the view is samll as in a mobile */
  margin: 0 auto; /* Centering the whole content in the page: 0 top-botttom, auto to the left and right */
}

.header {
  margin-bottom: 40px;

  display: flex; /* Sets the Html header elemecnt as a flex-box */
  align-items: center; /* Vertical alignment */
  justify-content: space-between; /* Horizontal alignment */
}

.main {
  display: grid; /* Make Main container have grid layout */
  grid-template-columns: 250px 1fr; /* Two colums where the second one occupies all remaining space */
  gap: 48px;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr; /* One column on a very small screen */
  }
}

/* Elements */
.logo {
  display: flex; /* Make this a flex-box */
  align-items: center; /* Vertical alignment */
  gap: 16px; /* A flex-box property to aid in putting some space between elements in the same flex-box  */
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  /* H1 is a block element. It occupies all the available space */
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.category {
  margin-bottom: 16px;
}

.fact {
  font-size: 20px;
  line-height: -0.2%;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1;
  border-radius: 16px;

  display: flex; /* Make this container a flex-box */
  align-items: center; /* Vertical alignment */
  gap: 24px; /* Give some space between elements */
}

/* Responsive Web Design using media queries */
@media (max-width: 1200px) {
  .fact {
    flex-direction: column; /* The default direction is row */
    align-items: flex-end;
    gap: 12px; /* The gap now becomes horizontal */
  }
}

.tag {
  /* The .tag elements (span) are an example of inline elements. They occupy the available space */
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;

  display: flex;
  gap: 8px;
}

.vote-buttons button {
  border: none;
  background-color: #78716c;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600; /* Values brought in by the Google-font Sono we imported */
  cursor: pointer;
  transition: 0.3s;
}

.vote-buttons button:hover {
  background-color: #292524;
}

ul {
  list-style-type: none;
}

/* Using pseudo-classes while styling the links */
.source,
.source:visited {
  color: #a1a1aa;
  text-decoration: none; /* Remove the underline */
  margin-left: 12px;
}

.source:hover,
.source:active {
  color: #3b82f6;
  transition: 0.3s; /* Animation: Smoth movement */
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 0.2;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16 0 13; /* Top: 16, left and right: 0, bottom: 13 */
  /* background-image: gradient */
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  border-radius: 100px;
  cursor: pointer; /* hand cursor */
  transition: 0.3s; /* Animation: smooth movement */
}

.btn:hover {
  transform: scale(110%) rotate(-2deg); /* Animation: buttons tilting */
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%; /* The width is calculated in relation to the parent element */
  height: 35px;
}

.btn-category {
  width: 100%;
  background-image: none; /* Disable the gradient background-image */
  height: 35px;
}

/* Form */
.fact-form {
  /* Form is a block element. Notice that there is space available for text-align center */
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.fact-form input,
.fact-form select {
  width: 220px;
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }
  .fact-form input,
  .fact-form select {
    width: auto;
  }
}
